:root {
    --primary-text: #E6E5EA;
    --secondary-text: #7F7D8D;
    --primary-accent: #B9FDB6;
    --secondary-accent: #F2CE76;
    --primary-body: #131218;
    --secondary-body: #24232A;
    --tertiary-body: #18171E;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}

html {
    font-size: 62.5%;
    /* 1rem = 10px */
}

body {
    font-family: 'Trispace', sans-serif;

}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    overflow-x: hidden;
    background-color: var(--primary-body);
}

/* App Title */

.app-title-container h1 {
    color: var(--primary-text);
    font-size: 1.8rem;
    margin: 0 0 20px 0;
}

/* Password Container */

.password-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    margin: 0 0 20px 0;
    width: 300px;
    background-color: var(--secondary-body);
}

.password-input {
    margin: 0 10px 0 0;
    height: 36px;
    width: 100%;
    background-color: var(--secondary-body);
    color: var(--primary-text);
    font-size: 1.6rem;
    border: none;
}

.password-copy {
    /* padding: 12px 20px; */
    background-color: var(--secondary-body);
}

.password-copy i {
    font-size: 2rem;
    color: var(--primary-text);
}

.password-copy:hover {
    cursor: pointer;
}

.password-copy i:hover {
    color: var(--primary-accent);
}

/* Password Options */

.password-options {
    padding: 20px;
    background-color: var(--secondary-body);
    width: 300px;
}

/* Character Length */

.character-length-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 10px 0;
}

.character-length-name {
    color: var(--primary-text);
    font-size: 1.4rem;
}

.character-length-value {
    color: var(--primary-accent);
    font-size: 2.4rem;
}

.character-length-range {
    margin: 0 0 20px 0;
    width: 100%;
}

.character-length-range::-webkit-slider-thumb {
    /* height: 100px;
    width: 100px; */
    top: -5.5px;
    position: relative;
    /* background-color: red !important; */
}

.character-length-range::-webkit-slider-thumb:hover {
    cursor: pointer;
}

.character-length-range::-webkit-slider-runnable-track {
    background-color: var(--primary-body);
    height: 5px;
}

.character-length-range::-webkit-slider-runnable-track:hover {
    cursor: pointer;
}

.character-length-content input[type="range"]::-webkit-slider-thumb {
    background-color: #ff0000;
    /* Adjust as needed */
}


/* Options for Include */

.option-include-container {
    margin: 0 0 20px 0;
}

.include-uppercase-container {
    display: flex;
    align-items: center;
    margin: 0 0 10px 0;
}

.include-uppercase-container input {
    margin: 0 10px 0 0;
}

.include-uppercase-text {
    color: var(--primary-text);
    font-size: 1.2rem;
}

.include-lowercase-container {
    display: flex;
    align-items: center;
    margin: 0 0 10px 0;
}

.include-lowercase-container input {
    margin: 0 10px 0 0;
}

.include-lowercase-text {
    color: var(--primary-text);
    font-size: 1.2rem;
}

.include-numbers-container {
    display: flex;
    align-items: center;
    margin: 0 0 10px 0;
}

.include-numbers-container input {
    margin: 0 10px 0 0;
}

.include-numbers-text {
    color: var(--primary-text);
    font-size: 1.2rem;
}

.include-symbols-container {
    display: flex;
    align-items: center;
    margin: 0 0 10px 0;
}

.include-symbols-container input {
    margin: 0 10px 0 0;
}

.include-symbols-text {
    color: var(--primary-text);
    font-size: 1.2rem;
}

/* Password Strenght Container */

.password-strength-container {
    margin: 0 0 20px 0;
    background-color: var(--tertiary-body);
    padding: 10px;

}

.password-strength-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.password-strength-name {
    color: var(--secondary-text);
    font-size: 1.2rem;
    text-transform: uppercase;
}

.strength-value-name {
    color: var(--primary-text);
    text-transform: uppercase;
    font-size: 1.4rem;
    margin: 0 10px 0 0;
    font-weight: bold;
}

.strength-value {
    display: flex;
    align-items: center;
}

.strength-containers {
    display: flex;
    align-items: center;

}

.vertical-bar-yellow {
    background-color: var(--secondary-accent);
}

.vertical-bar-container-1 {
    width: 6px;
    height: 18px;
    background-color: var(--secondary-text);
    margin: 0 5px 0 0;
}

.vertical-bar-container-2 {
    width: 6px;
    height: 18px;
    background-color: var(--secondary-text);
    margin: 0 5px 0 0;
}

.vertical-bar-container-3 {
    width: 6px;
    height: 18px;
    background-color: var(--secondary-text);
    margin: 0 5px 0 0;
}

.vertical-bar-container-4 {
    width: 6px;
    height: 18px;
    /* border: 2px solid var(--secondary-text); */
    background-color: var(--secondary-text);
    margin: 0 5px 0 0;
}

/* Generate Button */

.generate-btn {
    width: 100%;
    padding: 15px 30px;
    background-color: var(--primary-accent);
    color: var(--primary-body);
    font-size: 1.4rem;
    text-transform: uppercase;
}

.generate-btn:hover {
    border: 1px solid var(--primary-accent);
    background-color: var(--secondary-body);
    color: var(--primary-accent);
    cursor: pointer;
}